body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

thead th {
	color: white;
	background-color: black;
}

table th, table td {
	padding: 5px;
}

table, th, td {
	border: 1px solid black;
}

tr:nth-child(even) {
	background-color: #e1ebec;
}

#t01 {
	border-collapse: collapse;
}
.buttons {
	color: white;
	background-color: #598d8c;
	border-radius: 8px;
}

.labels {
	font-size: 20px;
}

.green_button {
	display: block;
	width: 90px;
	height: 25px;
	background: #598d8c;
	padding: 4px;
	text-align: center;
	border-radius: 5px;
	color: white;
	line-height: 25px;
}
