body {
    margin: 0px;
    background-color: rgb(223, 219, 219);
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.site-title {
     background-color: rgb(29, 150, 243);
     color: aliceblue;
     margin: 0px;
     font-weight: 300;
     padding: 10px 0px 10px 10px;
 }

 .navbar {
     background-color: white;
     color: black;
     padding-left: 20px;
     padding-right: 20px;
 }

 .navbar a {
     color: black;
 }

 .navbar a:hover {
     color: rgb(47, 168, 233);
 }

 .navlist {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }

 .navlink {
     display: inline-block;
     margin: 0px;
     padding: 10px;
 }

 .navbar-search {
     float: right;
     margin: 5px;
 }

 #navbar-search-button:hover {
     color: rgb(47, 168, 233);
 }

 #navbar-search-button {
     border: none;
     height: 25px;
     background-color: white;
 }

 #navbar-search-input {
     background-color: rgb(223, 222, 222);
     border-color: white;
     border-style: solid;
     height: 25px;
 }

.active {
    border-bottom: 2px solid rgb(47, 168, 233);
}

.twit-container {
    margin: 20px 6%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 30px;
}

.twit {
    margin: 3px;
    background-color: white;
    width: 450px;
    padding: 20px;
}

.twit-icon {
    height: 100%;
    float: left;
    padding-right: 10px;
    font-size: 25px;
}

.twit-text {
    margin: 0;
}

.twit-author a {
    float: right;
    color: black;
    font-weight: bold;
}

.twit-author a:hover {
    color: rgb(47, 168, 233);
}

#create-twit-button {
    background-color: rgb(221, 46, 46);
    color: white;
    float: right;
    margin-right: 30px;
    margin-bottom: 30px;
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    position: fixed;
    bottom: 0;
    right: 0;
}

#create-twit-button:hover {
    background-color: rgb(47, 168, 233);
    margin-right: 25px;
    margin-bottom: 25px;
    height: 80px;
    width: 80px;
    font-size: 40px;
}